.card-img-top {
    width: 70px;
    height: 70px;
}

.formBody {
    text-align: -webkit-center;
}

.card {
    width: 25%;
    -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.75);
    top: 8rem;
    padding: 10px;
}

::ng-deep .mat-form-field-label {
    color: #2786fb !important;
}

.mat-input-element {
    caret-color: #2786fb;
}

::ng-deep.mat-form-field-ripple {
    background-color: #2786fb !important;
}

.inputLine {
    width: 100%;
}

label {
    color: #2786fb;
    cursor: pointer;
}