<div class="formBody">
    <div class="card">
        <div>
            <img src="assets/media/ride-logo.png" class="card-img-top" alt="Card image">

        </div>
        <div class="card-body">
            <form [formGroup]="loginForm" (ngSubmit)="login()">
                <div>
                    <mat-form-field class="inputLine">
                        <mat-label>Email Address</mat-label>
                        <input matInput type="text" formControlName="email">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="inputLine">
                        <mat-label>Password</mat-label>
                        <div style="display: flex;">
                            <input matInput [type]="isShow ? 'text' : 'password'" formControlName="password">
                            <i style="cursor: pointer;" [class]="isShow ? 'fa fa-eye-slash fa-lg' : 'fa fa-eye fa-lg'" aria-hidden="true" (click)="showPassword()"></i>
                        </div>

                    </mat-form-field>
                </div>
                <div class="mt-4" style="height: 110px;">
                    <button class="btn btn-primary btn-block" [disabled]="loginForm.invalid || showLoader">Login</button>
                    <div class="spinner-border text-primary mt-4" role="status" *ngIf="showLoader">

                    </div>
                </div>
            </form>
            <label [routerLink]="['/auth/forgot-password']">TROUBLE SIGNING IN ?</label>
        </div>
    </div>
</div>