<app-header>
</app-header>
<app-sidemenu></app-sidemenu>
<div>

    <app-toaster></app-toaster>

</div>
<div class="card portlet">
    <breadcrumb #parent>
        <ol class="breadcrumb">
            <ng-template ngFor let-route [ngForOf]="parent.breadcrumbs">
                <li *ngIf="!route.terminal" class="breadcrumb-item">
                    <a href="" [routerLink]="[route.url]">{{ route.displayName }}</a>
                </li>
                <li *ngIf="route.terminal" class="breadcrumb-item active" aria-current="page">{{ route.displayName }}</li>
            </ng-template>
        </ol>

    </breadcrumb>


    <app-loader></app-loader>
    <router-outlet></router-outlet>

</div>

<app-footer></app-footer>