<!-- <div class="card" style="width: 18rem; text-align: center;">
    <div class="card-body">
        <form [formGroup]="loginForm" (ngSubmit)="loginn()">
            <div>
                <label>Email</label>
                <input type="text" formControlName="email">
            </div>
            <div>
                <label>password</label>
                <input type="password" formControlName="password">
            </div>
            <button class="btn btn-primary">Login</button>
        </form>
    </div>
</div> -->