<div class="formBody">
    <div class="card">
        <h2 class="mt-4">Reset Password ?</h2>
        <h4>Please Enter Your New Password</h4>
        <div>
            <mat-form-field class="inputLine">
                <mat-label>New Password</mat-label>
                <div style="display: flex;">
                    <input matInput [type]="isShow ? 'text' : 'password'">
                    <i style="cursor: pointer;" [class]="isShow ? 'fa fa-eye-slash fa-lg' : 'fa fa-eye fa-lg'" aria-hidden="true" (click)="showPassword()"></i>
                </div>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="inputLine">
                <mat-label>Confirm New Password</mat-label>
                <input matInput type="password">
            </mat-form-field>
        </div>

        <div class="mt-4" style="height: 110px;">
            <button type="button" class="btn btn-primary btn-block">Submit</button>
            <div class="spinner-border text-primary mt-4" role="status">

            </div>
        </div>
    </div>
</div>