<div class="formBody" *ngIf="!showDiv">
    <div class="card">
        <h2 class="mt-4">Forgot Password ?</h2>
        <h4>Please Enter Your Registered Email Address</h4>
        <form [formGroup]="forgotPasswordForm">
            <div>
                <mat-form-field class="inputLine">
                    <mat-label>Email Address</mat-label>
                    <input matInput type="text" formControlName="email">
                </mat-form-field>
            </div>

            <div class="mt-4" style="height: 110px;">
                <button type="button" class="btn btn-primary btn-block" (click)="forgetPassword()" [disabled]="forgotPasswordForm.invalid || showLoader">Submit</button>
                <div class="spinner-border text-primary mt-4" role="status" *ngIf="showLoader">

                </div>
            </div>
        </form>
    </div>
</div>

<div class="formBody" *ngIf="showDiv">
    <div class="card">
        <h2 class="mt-4">Email Sent</h2>
        <h4>Please follow the verification link sent to your Email-Id to reset the password.</h4>
        <div class="mt-4 mb-4">
            <button type="button" class="btn btn-primary btn-block" [routerLink]="['/login']">Login</button>

        </div>
    </div>
</div>